*{
    margin: 1;
    padding: 1;
    font-family: sans-serif;
    box-sizing: border-box;
    line-height: 2em;
}
html, body{
    /* height: 100vh; */
    /* height: 100%; */
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.two {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}
.apptitle {
    font-size: 30px;
    margin: 0;
}

.applink{
    font-size: 15px;
    margin: 0;
}

.imgtitle{
    font-size: 15px;
}

