<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/homepg.css">    
</head>
<body>
    <div class="grid-container">
        <div>
            <h1 class="apptitle" >anthonyrodiger.com</h1>
        </div>
        <div>
            
        </div>
        <div>
            <span>- </span>
            <a class="applink" href="/one">WebChat app demo</a>
            <a class="description">  | flask socket | postgres |</a>
        </div>
        <div>
            <span>- </span>
            <a class="applink" href="/two">WebChat admin</a>
            <a class="description">  | restAPI |</a>
        </div>
        <div>
            <span>- </span>
            <a class="applink" href="/loginreg">Login/Reg demo</a>
            <a class="description">  | bcrypt | JWT token | cookie, local storage | fingerprint | stateless |</a>
        </div>
        <div>
            <h1 class="imgtitle" >AWS Deployment Design</h1>
        </div>
        <div>
            <img class="two" src="{{url_for('static', filename='webchatdesign.png')}}" alt="AWSDeployment" width="600" height="800">    
        </div>
    </div>
</body>
</html>