<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/homepg.css">    
</head>
<body>
    <div><h1 class="apptitle" >Home Page</h1>
        <!-- <p>Parameter passed: {{ homeParam1 }}</p> -->
        <p>
            <span>- </span>
            <a class="applink" href="/one">WebChat App</a>
        </p>
        <p>
            <span>- </span>
            <a class="applink" href="/two">WebChat Admin</a>
        </p>
        <h1 class="imgtitle" >AWS Deployment Design</h1>
        <img class="two" src="{{url_for('static', filename='webchatdesign.png')}}" alt="AWSDeployment" width="600" height="800">    
    </div>
</body>
</html>