<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div><h1>Flask Home Page</h1>
    <!-- <p>Parameter passed: {{ homeParam1 }}</p> -->
</div>
<div>
    <p>
        <span>- </span>
        <a href="/one">WebChat</a>
    </p>
    <!-- <p>
        <span>2. </span>
        <a href="/two">Page Two</a>
    </p>
    <p>
        <span>3. </span>
        <a href="/restapiput">RestAPI call: PUT</a>
    </p> -->
    <p>
        <span>- </span>
        <a href="/restapiget">RestAPI: SELECT ALL CHAT HISTORY</a>
    </p>
    <p>
        <span>- </span>
        <a href="/restapidelete">RestAPI: TRUNCATE CHAT TABLE</a>
    </p>
</div>
</body>
</html>