<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js" integrity="sha512-HTENHrkQ/P0NGDFd5nk6ibVtCkcM7jhr2c7GyvXp5O+4X6O5cQO9AhqFzM+MdeBivsX7Hoys2J7pp2wdgMpCvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <script type="text/javascript">
        var userName = ""
        var userLoggedIn = false
        $(document).ready(function() {
            document.getElementById("message").setAttribute("readonly", "readonly");
            document.getElementById("sendBtn").textContent = "Login";
            document.getElementById("username").value = "";     //force firefox on a page reload to placeholder text
            document.getElementById("username").focus();
            // server reads in connection info from config file and passes to client
            var socket = io.connect("{{paramHostNamePort}}")
            // var socket = io.connect("http://127.0.0.1:5000/")    // # development
            // var socket = io.connect("http://anthonyrodiger.com")  # production

//             socket.on('connect', function(auth) {                
//                alert(auth)
//                    socket.send( "LOGDATA:  Socket connection established!");
//             });

            //catch message from server and place in message or user_message body div
            // if time_stamp is null, server initiated informative message, don't pass null to date() obj
            // display timestamp in client's local time zone
            socket.on('message',  function(data) {

                const obj = JSON.parse(data);
                const date01 = ( obj.time_stamp == null ?  new Date() : new Date(parseInt( obj.time_stamp )) );

                if ( obj.username == ( $('#username').val() ) ) {
                    $('#messages').append($('<p class="user_message">').text( obj.message ));
                    $('#messages').append($('<p class="usermessageDateTime">').text(date01.toLocaleTimeString('en-US')));
                }
                else{
                    $('#messages').append($('<b class="message">').text( obj.username  + ":" ));
                    $('#messages').append($('<p class="message">').text(  obj.message ));
                    $('#messages').append($('<p class="messageDateTime">').text(date01.toLocaleTimeString('en-US')));
                }
                //always scroll to bottom of messages
                var body = document.querySelector('#messages');
                body.scrollTop = body.scrollHeight - body.clientHeight;
            });

            // upon button click, ensure username is set, if not, setfocus to username don't do anything
            // if first message for user, send loadhistory request for this user
            //timestamp needs to come from client and stored as a millisecond integer    
            $('#sendBtn').on('click', function() {
                if ( $('#username').val() == "" ) {       
                    document.getElementById("username").focus();
                }
                else{
                    // if we have our username then grayout and readonly username textbox
                    // set focus to message field and send message to server for chat history to be sent for this userName
                    if ( !userLoggedIn ) {
                        document.getElementById("username").setAttribute("readonly", "readonly");
                        inputBlur('#username');
                        document.getElementById("message").removeAttribute("readonly");
                        document.getElementById("message").focus();
                        document.getElementById("sendBtn").textContent = "Send";
                        userLoggedIn = true;
                        // send loadhistory request with username no message
                        socket.send('{"username" : "' + $('#username').val() + '" , ' + ' "loadhistory" : '  + '"LOADHISTORY" }');  //no message is sent, just user and loadhistory request
                    }
                    else{
                        const dateObj = new Date();
                        socket.send( '{"username" : "' + $('#username').val() + '" , ' + ' "message" : "' + $('#message').val() + '" , ' + ' "time_stamp" : "' + dateObj.getTime() + '" , ' + ' "loadhistory" : ' + '""' +' }' );
                    }
                }
                clearFields();
            });
        })   
        //clear out old chat message box once message is sent        
        function clearFields() {
            document.getElementById("message").value = "";
        }
        
        function inputBlur(i){
            $(i).addClass("blurredDefaultText");
        }

    </script>
    <div class="container">
        <div class="header">
            <H1>{{paramChatHeaderName}}</H1>
        </div>
            <div id="messages" class="body">

            </div>
        <div class="footer"> 
            <div class="firstinput">
                <input type="text" id="username" class="userNameClass" autofocus placeholder="Username">
                <input type="text" id="message" class="messageClass" onkeyup="check_for_enter(event);" placeholder="">
                <button type="button" class="button1" id="sendBtn">Send</button>    
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        //add ability to acknowledge enter on keyboard has been pressed
//        window.getElementById("message").addEventListener("keyup"), function(event){
//            alert ("Inside button pressed!");
//            event.preventDefault();
//            if (event.keyCode == 13){
//                document.getElementById("sendBtn").click();
//            }
//        }

        //DIRTY FIX (html inline call) to detect onkeyup event occurred in chat message text
        //addEventListener in js is not working properly determine cause later...
        function check_for_enter(event) {
            event.preventDefault();
            if (event.keyCode == 13){
                document.getElementById("sendBtn").click();
            }
        }
    </script>
</body>
</html>