<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js" integrity="sha512-HTENHrkQ/P0NGDFd5nk6ibVtCkcM7jhr2c7GyvXp5O+4X6O5cQO9AhqFzM+MdeBivsX7Hoys2J7pp2wdgMpCvw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect("http://anthonyrodiger.com")
            socket.on('connect', function() {
                socket.send("User connected!");
            });

            socket.on('message', function(data) {
                if (data.includes($('#username').val()) ) {
                    $('#messages').append($('<p class="user_message">').text(data));
                }
                else{
                    $('#messages').append($('<p class="message">').text(data));
                }
            });
            
            $('#sendBtn').on('click', function() {
                socket.send($('#username').val() + ': ' + $('#message').val());
                $('#messsage').val('');
                clearFields();
            });
        })   
        
        function clearFields() {
            document.getElementById("message").value = "";
        }
        
    </script>
    <div class="container">
        <div class="header">
            <H1>{{pageOneParam1}}</H1>
        </div>
        <div id="messages" class="body">

        </div>
        <div class="footer"> 
            <div class="firstinput">
                <input type="text" id="username" class="userNameClass" placeholder="Username">
                <input type="text" id="message" class="messageClass" placeholder="Chat Message">
            </div>
            <div class="button1">
                <button class="button1" id="sendBtn">Send</button>    
            </div>
        </div>
    </div>
</body>
</html>